@use "../mixins/mixins" as mixins;
@use "../variables/variables" as vars;

.navbar {
  &__list {
    @include mixins.flex(center, center, nowrap, false);
    gap: 4rem;
  }

  &__item {
    @include mixins.font(20, 16, vars.$font-grotesk, 1.2, 400);

  }

  &__link {
    @include mixins.flex(center, center, nowrap, true);
    color: vars.$color-dark;
    height: 4.8rem;

    @include mixins.hover {
      scale: 1.2;
    }
  }
}
