$font-size-base: 1rem;

$h1-font-size: $font-size-base * 6;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 2;

$h1-font-size-mobile: $font-size-base * 4.3;
$h2-font-size-mobile: $font-size-base * 3.6;
$h3-font-size-mobile: $font-size-base * 2.6;
$h4-font-size-mobile: $font-size-base * 1.8;

$font-size-normal: $font-size-base * 1.8;
$font-size-normal-mobile: $font-size-base * 1.6;
