$section-padding-x-desktop: 10rem;
$section-padding-x-mobile: 2rem;
$section-padding-y-desktop: 7rem;
$section-padding-y-mobile: 3rem;

$btn-padding-y: 2rem;
$btn-padding-x-base: 3.5rem;
$btn-padding-x-large: 7.5rem;
